#header {
  width: 1200px;
  height: 110px;
  margin: 0 auto;
  background: #fff;
}

.left_img {
  width: 210px;
  float: left;
  position: relative;
  margin-top: 10px;
}

.left_img #logo_left {
  max-width: 174px;
  height: auto;
  border: none;
  outline: none;
}

#header .right_img {
  width: 140px;
  float: right;
  margin-right: 50px;
}

#header .right_img p {
  line-height: 100px;
  font-size: 24px;
}

#header .right_img p i {
  margin-right: 10px;
}
