@charset "utf-8"; // 插入盒子公共样式
@import "_public.scss";
.header_top {
    width: 100%;
    height: 35px;
    background: #eeeeee;
    min-width: 1200px;
}

.headertop-inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header-l {
    float: left;
    width: auto;
    line-height: 35px;
    position: relative;
}

.header_top {
    width: 100%;
    height: 35px;
    background: #eeeeee;
    min-width: 1200px;
}

.headertop-inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header-l {
    float: left;
    width: auto;
    line-height: 35px;
    position: relative;
}


/* 左侧框的用户信息连接 */

#usermenu {
    line-height: 35px;
    a {
        color: #cc0000;
    }
}

.header-r {
    width: auto;
    float: right;
    text-align: right;
    height: 35px;
    line-height: 35px;
    position: relative;
}

.nav_list {
    float: right;
    li {
        float: left;
        height: 35px;
        padding: 0 10px;
        position: relative;
        text-align: center;
        cursor: pointer;
        a {
            line-height: 35px;
            color: #747474;
            outline: none;
            text-decoration: none;
            word-wrap: break-word;
        }
    }
}