@charset "UTF-8";
@font-face {
  font-family: 'FontAwesome';
  /* src: url("https://mall.gree.com/assets/fonts/glyphicons/fontawesome-webfont.ttf?v=4.2.0") format('truetype'); */
  src: url("../iconfont/fontawesome-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="fa-"],
[class*="fa-"] {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#content {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
}

.po_re {
  position: relative;
}

.po_ab {
  position: absolute;
}

.over_ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.font_20 {
  font-size: 20px;
}

.text_style {
  word-break: break-all;
  white-space: normal;
  text-indent: 0;
}

.mid_f_left {
  width: 90px;
  float: left;
  height: 26px;
  line-height: 26px;
  text-align: right;
}

.mid_f_right {
  width: 370px;
  float: left;
  min-height: 26px;
  line-height: 26px;
  display: inline-block;
}

.star-on,
.star-off,
.star-half,
.heart-on,
.heart-off,
.heart-half {
  margin-left: 2px;
  display: inline-block;
  width: 15px;
  height: 16px;
  background-repeat: no-repeat;
}

img:hover {
  opacity: 0.8;
}

#header {
  width: 1200px;
  height: 110px;
  margin: 0 auto;
  background: #fff;
}

.left_img {
  width: 210px;
  float: left;
  position: relative;
  margin-top: 10px;
}

.left_img #logo_left {
  max-width: 174px;
  height: auto;
  border: none;
  outline: none;
}

/* 图标 */
/* 收藏 */
.fa-star:before {
  content: "\f005";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}

/* 下标箭头 */
.fa-angle-down::before {
  content: "\f107";
}

/* 右侧箭头 */
.fa-angle-right::before {
  content: "\f105";
}

/* 左侧箭头 */
.fa-angle-left:before {
  content: "\f104";
}

/* 客服中心 */
.fa-headphones::before {
  content: "\f025";
}

/* 搜索 */
.fa-search::before {
  content: "\f002";
}

/* 竖线图标 */
.shutiao {
  margin-left: 10px;
  margin-right: 10px;
}

.fa-user:before {
  content: "\f007";
}

.fa-lock:before {
  content: "\f023";
}

/* all-select所有商品 */
.fa-list-ul:before {
  content: "\f0ca";
}

.header_top {
  width: 100%;
  height: 35px;
  background: #eeeeee;
  min-width: 1200px;
}

.headertop-inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header-l {
  float: left;
  width: auto;
  line-height: 35px;
  position: relative;
}

.header_top {
  width: 100%;
  height: 35px;
  background: #eeeeee;
  min-width: 1200px;
}

.headertop-inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header-l {
  float: left;
  width: auto;
  line-height: 35px;
  position: relative;
}

/* 左侧框的用户信息连接 */
#usermenu {
  line-height: 35px;
}

#usermenu a {
  color: #cc0000;
}

.header-r {
  width: auto;
  float: right;
  text-align: right;
  height: 35px;
  line-height: 35px;
  position: relative;
}

.nav_list {
  float: right;
}

.nav_list li {
  float: left;
  height: 35px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.nav_list li a {
  line-height: 35px;
  color: #747474;
  outline: none;
  text-decoration: none;
  word-wrap: break-word;
}
