@charset "utf-8"; // 插入盒子公共样式
@import "_public";
@import "logreshead"; // 头部右侧欢迎登录
// 主体盒子
.register_content {
    margin-top: 10px;
    width: 980px;
    margin: 10px auto;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 0px 8px #ddd;
    .register {
        width: 100%;
        height: auto;
        margin: auto;
        overflow: hidden;
    }
}

// 左侧图片盒子
.register_content .register_pic {
    width: 500px;
    height: 380px;
    float: left;
    margin: 10px 30px;
}

// 右侧登录盒子
.register_content .register_box {
    width: 380px;
    height: 380px;
    float: right;
    margin: 10px 0px 0px 10px;
    padding-top: 20px;
    ul {
        width: 295px;
        height: auto;
        overflow: hidden;
        margin-top: 10px;
        float: left;
        font-size: 14px;
        li {
            position: relative;
        }
    }
}

// 用户头像和密码图标
.register-icon {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    position: absolute;
    right: 15px;
    top: 0px;
    width: 35px;
    height: 35px;
    line-height: 40px;
    color: #c7c7c7;
}

// 手机...登录框
#loginname_id {
    width: 270px;
    font-family: Microsoft Yahei;
    color: #474747;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    border: 1px solid #e8e8e8;
    background: #fff;
    border-radius: 2px;
}

#loginpwd_id {
    @extend #loginname_id
}

// 登录按钮
#btn_submit {
    width: auto;
    padding: 0px 25px;
    background: #cc0000;
    text-align: center;
    border: none;
    font-family: Microsoft Yahei;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

// 微信qq
.loginWeixin_div {
    position: relative;
    display: inline-block;
    width: 60px;
    margin-top: 10px;
    i {
        background: url(../img/QQ-weixin.png);
        width: 19px;
        height: 18px;
        display: inline-block;
        background-position: 0 0;
    }
    span {
        vertical-align: top;
    }
}

.loginWeixin_div:last-child i {
    background-position: -20px 0;
}